.env
composer.json.bak
/config/*.ini
/helpers/*.txt
/node_modules
/public/assets/js/highlight.min.js
/public/temp
/resources/views/auth
/resources/views/blog
/routes/*.ini
/storage/db
/storage/uploads
/storage/temp
/vendor